#header {
  width: 100%;
  /* border: 1px solid black; */
  height: 50%;
}
.upper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  font-size: 18px;
}

.logo img {
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
}
.right {
  width: 53%;
  display: flex;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
}
.language {
  width: 34%;
  display: flex;
  align-items: center;

  /* border: 1px solid black; */
}
.language img {
  /* border: 1px solid black; */
  width: 13%;
  height: 20%;
}
.language p,
.cart_logo p {
  margin-left: 5%;
}
.account {
  width: 10%;
  height: 30%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* border: 1px solid black; */
  border-right: 1px solid grey;
  /* padding-bottom: 6%; */
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.drop {
  width: 80%;
  height: 50%;
  margin-top: -2%;
  margin-left: 120px;
  background-color: whitesmoke;
  position: absolute;
  display: none;
}
.dropdown:hover .account {
  display: block;
}
.signin {
  width: 10%;
  display: flex;
  margin-left: 10px;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid black; */
}
.cart_logo {
  width: 10%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.cart_logo img {
  width: 26%;
  height: 30%;
}
.search {
  width: 18%;
  /* height: 60%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  /* text-decoration: underline; */
}
.search img {
  width: 23%;
  height: 25%;
}
.lower {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  width: 70%;
  margin-left: 5%;
  color: #434f61;
  font-family: "Bryant MOO Pro Medium", "Trebuchet MS", Trebuchet,
    "Liberation Sans", sans-serif;
}

.lower p {
  cursor: pointer;
}

.mid {
  width: 100%;
  height: 500px;
  margin-top: -2%;
  align-items: center;
  /* text-align: center; */
  background-size: cover;
  border: 1px solid white;
  background-image: url("https://www.moo.com/dam/jcr:c921c0df-2199-45f9-a708-63e51687be2b/0257WF-HP-1920x530-EN-all-products.jpg");
}
.mid_inner {
  width: 25%;
  height: 50%;
  margin-top: 5%;
  margin-left: 5%;
  /* border: 1px solid black; */
}
.mid_inner p {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 2%;
}
.mid_inner span {
  margin-top: 0%;
  font-size: 23px;
  color: black;
}
.btn {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  /* border: 1px solid black; */
}
#btn_1 {
  width: 49%;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#btn_2 {
  width: 49%;
  font-size: 15px;
  color: white;
  background-color: #4b596d;
  border: none;
  border-radius: 5px;
}
.mid_outer {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  width: 55%;
  margin: auto;
  margin-top: 7%;
  /* margin-left: 5%; */
  color: #434f61;
  font-family: "Bryant MOO Pro Medium", "Trebuchet MS", Trebuchet,
    "Liberation Sans", sans-serif;
}

.mid_2 {
  width: 80%;
  height: 50%;
  margin: auto;
  padding: 4%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.mid_2_1 {
  text-align: center;
  width: 20%;
  height: 100%;

  /* border: 1px solid black; */
}
.mid_2_1 img {
  width: 30%;
  margin: 2%;
}
.mid_3 {
  width: 100%;
  height: 550px;
  padding: 10px;
  background-color: #f3f4f6;
}
.mid_3_1 {
  width: 80%;
  height: 70%;
  margin: auto;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.mid_3_1_1 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;

  transition: box-shadow 0.3s ease-in-out;
  /* border: 1px solid black; */
}
.mid_3_1_1:hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.8);
}

.mid_3_1_1 img {
  width: 100%;
  height: 40%;
}
.mid_3_1_2 {
  width: 100%;
  height: 55%;
  margin-top: -7.4%;
  background-color: white;
}
.mid_3_1_2 p {
  margin: 20px;
  font-size: 13px;
  margin-top: -10px;
  color: #434f61;
  font-family: "Avenir Next Rounded Pro Regular", Verdana, Geneva, sans-serif;
}
.mid_3_1_2 h3 {
  margin: 20px;
}
.mid_3_1_3 span {
  color: green;
  font-size: 15px;
  margin-top: auto;
  margin-left: 5%;

  /* border: 1px solid black; */
}
.mid_4 {
  background-image: url("https://www.moo.com/.imaging/scale/dam/65d5968e-c03e-4958-896a-59dfe0265b67/0257WF-BIWT-3840x1000-EN-stickers.jpg");
  width: 101%;
  height: 500px;

  align-items: center;
  /* text-align: center; */
  background-size: cover;
  border: 1px solid white;
}
.mid_4_1 {
  width: 20%;
  height: 200px;
  margin: auto;
  background-color: white;
  /* border: 1px solid black; */
  padding: 4%;
  margin-top: 5%;
  margin-left: 60%;
}
.mid_4_1 h2 {
  font-family: "Bryant MOO Pro Medium", "Trebuchet MS", Trebuchet,
    "Liberation Sans", sans-serif;
}
.mid_4_1 p {
  font-family: "Avenir Next Rounded Pro Regular", Verdana, Geneva, sans-serif;
  font-size: 1em;
  color: #434f61;
  font-weight: normal;
}
.mid_4_1 span {
  color: green;
}
.mid_5 {
  width: 100%;
  height: 150%;
  /* border: 1px solid black; */
}
.mid_5_1 {
  text-align: center;
  width: 60%;
  height: 20%;
  /* border: 1px solid black; */
  margin: auto;
  padding: 5%;
}
a {
  color: green;
  text-decoration: none;
}
.mid_5_1 h1 {
  font-family: "Bryant MOO Pro Medium", "Trebuchet MS", Trebuchet,
    "Liberation Sans", sans-serif;
}
.mid_5_1 p {
  font-family: "Avenir Next Rounded Pro Regular", Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #434f61;
  font-weight: normal;
}
.mid_5_2 {
  width: 80%;
  height: 40%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
}
.mid_5_2 img {
  width: 25%;
  height: 100%;
}
.mid_5_3 {
  width: 80%;
  height: 200px;
  margin: auto;
  margin-top: 2%;
  font-size: 20px;
  border: 1px solid white;
  background-image: url("https://www.moo.com/.imaging/scale/dam/9e3f1503-c26e-44bd-bf9b-cda573fe72b6/CRB-4987-Sample-pack-CTA-2352x5000.jpg");
}
.mid_5_3_1 {
  width: 20%;
  height: 20%;
  margin: auto;
  margin-top: 2%;
}
.mid_5_3_2 {
  width: 80%;
  height: 70%;
  font-size: 15px;
  text-align: center;
  background-color: darkgreen;
  color: white;
}
.footer {
  width: 80%;
  height: 70%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  margin-bottom: 6%;
  justify-content: space-between;
}
.prdoucts {
  width: 15%;
  height: 70%;
}
li {
  list-style-type: none;
  color: green;
}
.logo_section {
  width: 100%;
  height: 40px;
  margin-top: 2%;
  margin-bottom: 2%;

  background-color: #152638;
}
.logo_section1 li {
  width: 10%;

  display: flex;
}
.list {
  width: 30%;
  height: 60%;
  /* border: 1px solid black; */
  float: left;
}
.list li {
  list-style-type: none;
  font-size: 20px;
  color: #434f61;
  margin: 4%;
}
.left_main {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  float: right;
  display: flex;
  justify-content: space-between;
}
.image {
  width: 47%;
  height: 100%;
  /* border: 1px solid black; */
}
.image .image_1 img {
  width: 100%;
  height: 50%;
}
.image_1 p {
  font-size: 20px;
}
.p {
  font-weight: 900;
}
